## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ['CITY{:0>2d}'.format(s) for s in range(50)],
        '人口': np.random.randint(100000, 10000000, 50)}
data = pd.DataFrame(data)

In [3]:
data.head()

       國家       人口
0  CITY00  4058693
1  CITY01  4508898
2  CITY02  9274500
3  CITY03  8457450
4  CITY04  3765984

In [4]:
# 人口最多國家(排序)
data.sort_values('人口', ascending=False).head()

        國家       人口
11  CITY11  9629468
2   CITY02  9274500
26  CITY26  9131806
17  CITY17  9100551
12  CITY12  9042460

In [5]:
# 人口最多國家(取最大idx)
data.iloc[data['人口'].idxmax()]

國家     CITY11
人口    9629468
Name: 11, dtype: object